.leaderboard-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.leaderboard-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.leaderboard-content img {
  width: 100%;
}

.leaderboard-content ol {
  margin: 0 auto;
  width: 80%;
  padding-left: 0;
  text-align: left;
}

.leaderboard-content li {
  text-align: center;
}
